   @using Hometask.Entities;
   @model ChefTestimonialVM;
   
<!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>Testimonials</h2>
          <p>What Are They <span>Saying About Us</span></p>
        </div>

        <div class="slides-1 swiper" data-aos="fade-up" data-aos-delay="100">
         <div class="swiper-wrapper">

                @foreach (Testimonial testimonial in Model.Testimonial)
                {
                            
                                         <div class="swiper-slide">
                              <div class="testimonial-item">
                                <div class="row gy-4 justify-content-center">
                                      <a asp-controller="Testimonial" asp-action= "Details" asp-route-id ="@testimonial.Id">
                                          <div class="col-lg-6">
                                        <div class="testimonial-content">
                                          <p>
                                            <i class="bi bi-quote quote-icon-left"></i>
                                                    @testimonial.About
                                            <i class="bi bi-quote quote-icon-right"></i>
                                          </p>
                                          <h3>@testimonial.FirstName @testimonial.LastName</h3>
                                          <h4>Ceo &amp; Founder</h4>
                                          <div class="stars">
                                            <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                                          </div>
                                        </div>
                                      </div>
                                      <div class="col-lg-2 text-center">
                                        <img src="@testimonial.Image" alt="">
                                      </div>
                                  </a>
                                </div>
                              </div>
                            </div>
                             
                            <!-- End testimonial item -->
                }


          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>
    </section><!-- End Testimonials Section -->




        <!-- ======= Chefs Section ======= -->
    <section id="chefs" class="chefs section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>Chefs</h2>
          <p>Our <span>Proffesional</span> Chefs</p>
        </div>

        <div class="row gy-4">

         @foreach (Chef chefs  in  Model.Chefs)
            {
          <div class="col-lg-4 col-md-6 d-flex  >
              
               <div class="chef-member">
                     <a asp-controller="Chef" asp-action= "Details" asp-route-id= "@chefs.Id">
     <div class="member-img">
                        <img src="@chefs.Image" class="img-fluid" alt="">
                        <div class="social">
                          <a href=""><i class="bi bi-twitter"></i></a>
                          <a href=""><i class="bi bi-facebook"></i></a>
                          <a href=""><i class="bi bi-instagram"></i></a>
                          <a href=""><i class="bi bi-linkedin"></i></a>
                        </div>
                      </div>
                      <div class="member-info">
                        <h4>@chefs.Name</h4>
                        <span>@chefs.ProfessionId</span>
                        <p>Velit aut quia fugit et et. Dolorum ea voluptate vel tempore tenetur ipsa quae aut. Ipsum exercitationem iure minima enim corporis et voluptate.</p>
                      </div>
                 </a>
                </div>
           
         <!-- End Chefs Member -->

            }
         
        </div>

      </div>
    </section><!-- End Chefs Section -->
